<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="{{base_url()}}/public">Magazine Parser</a>
		</div>
	</div>
</nav>